[submodule "wikiextractor-wikimentions"]
path = wikiextractor-wikimentions
url = https://github.com/samuelbroscheit/wikiextractor-wikimentions.git
[submodule "pytorch-pretrained-BERT"]
path = pytorch-pretrained-BERT
url = https://github.com/huggingface/pytorch-pretrained-BERT.git
